# Execution mode: local or cloud
ENVIRONMENT=local

LOCAL_MODEL_DIR=models/production

USE_GCS=false
GCS_BUCKET=egfr-l858r-artifacts

MLFLOW_TRACKING_URI=mlruns
MLFLOW_EXPERIMENT_EGFR_QSAR=EGFR_L858R_QSAR
MLFLOW_EXPERIMENT_WT_QSAR=EGFR_WT_QSAR
MLFLOW_EXPERIMENT_GNN=EGFR_GNN
MLFLOW_EXPERIMENT_DOCKING_PROXY=DOCKING_PROXY
MLFLOW_EXPERIMENT_RL=RL_GENERATOR

RANDOM_SEED=42

API_HOST=0.0.0.0
API_PORT=8080

CHEMBL_API_BASE=https://www.ebi.ac.uk/chembl/api/data